<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
<div class="hero-unit">
<div id="images">
  <%
    for ( var i = 0; i < images.length; i++){ %>
      <image class="img-polaroid" width="100%" src="<%=images[i].imagesrc%>"/>
  <%  }
  %>
  
</div>

<div id="feature">
  <dl class="dl-horizontal">
    <dt>number</dt>
    <dd><%=feature.number%></dd>
    <dt>name</dt>
    <dd><%=feature.name%></dd>
    <dt>model</dt>
    <dd><%=feature.model%></dd>
    <dt>color</dt>
    <dd><%=feature.color%></dd>
    <dt>description</dt>
    <dd><%=feature.description%></dd>
    <dt>material</dt>
    <dd><%=feature.material%></dd>
  </dl>
</div>
<hr/>
<div id="suppliers">
  <h4>suppliers</h4>
  <table>
    <thead>
      <tr>
        <th>supplier name</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      <%
        for ( var i = 0; i < suppliers.length; i++){%>
          <tr>
            <td><%=suppliers[i].suppliername%></td>
            <td><%=suppliers[i].price%></td>
          </tr>
      <%  }
      %>
    </tbody>
  </table>
</div>
</div>