    <h4>Product Description</h4>
    <dl class="dl-horizontal">
      <dt>number</dt>
      <dd><%=feature.number%></dd>
      <dt>name</dt>
      <dd><%=feature.name%></dd>
      <dt>model</dt>
      <dd><%=feature.model%></dd>
      <dt>color</dt>
      <dd><%=feature.color%></dd>
      <dt>price</dt>
      <dd><%=feature.price%></dd>
      <dt>description</dt>
      <dd><%=feature.description%></dd>
      <dt>material</dt>
      <dd><%=feature.material%></dd>
    </dl>